<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.irri.varipirusasyarakshna">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/home_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMenuActivity"
            android:label="@string/home_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- <activity -->
        <!-- android:name=".ChidapuruguluActivity" -->
        <!-- android:label="@string/title_activity_chidapurugulu" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChidapuruguluMenuActivity"
            android:label="@string/title_activity_chidapurugulu" />
        <activity
            android:name=".ThegulluMenuActivity"
            android:label="@string/label_thegullu" />
        <activity
            android:name=".KalupuMokkaluActivity"
            android:label="@string/label_kalupu_mokkalu" />
        <activity
            android:name=".VividhaDasaluMenuActivity"
            android:label="@string/label_vividha_dasalu" />
        <activity
            android:name=".LakshanaluMenuActivity"
            android:label="@string/label_kanipinche_lakshanalu" />
        <activity
            android:name=".PiruVividhaDasaluDetailedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageViewerActivity"
            android:label="@string/label_kanipinche_lakshanalu" />
        <activity
            android:name=".TeamMembersActivity"
            android:label="@string/label_team_members" />
        <activity
            android:name=".HomeDrawerActivity"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArogyaPantaMenuActivity"
            android:label="@string/label_arogya_panta" />
        <activity
            android:name=".SarinaMandulaMisramaluActivity"
            android:label="@string/label_sarina_mandula_misramalu"></activity>
    </application>

</manifest>